.search-bar-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: white;
  position: fixed;
  border-bottom: solid 0.5px rgb(207, 207, 207)
}

img {
  height: 40px;
  padding-left:20px;
  padding-right:20px;
}

.insta-logo {
  border-left: solid black 0.5px;
}

.search-bar-left, .search-bar-right {
  width: 40%;
  display: flex;
  justify-content: center;
}

